body{
    background-attachment: fixed;
    background-image: linear-gradient(45deg,#f0f7,#0ff9,#00f9);
}
.bar{
    width: 95%;
    height: 3px;
    background-color: #000;
}
.menu-bar{
    width: 30px;
    padding: 4px 4px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 90%;
}
.navbar-header{
    margin-right: auto;
    color: #fff;
}
.img-thumbnail{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    padding: 0;
    border: 0.2px dotted white;
    border-radius: 70%;
}
@media (min-width: 768px){
    .menu-bar{
        display: none;
    }
    .side{
        display: none;
    }
    .img-profile{
        margin-top: -300px;
    }
}
@media (max-width: 767px){
    .navbar-header{
        margin-left: 0 ;
    }
    #club-icon{
        margin-left: 20%;
    }
    .menus{
        display: none;
    }
    .img-profile{
        width: 150px;
        height: 150px;
        margin-top: -200px;
    }
}
@media (max-width: 512px){
    #club-icon{
        margin-left:10%;
    }
    .img-profile{
        width: 150px;
        height: 150px;
        margin-top: -100px;
    }
}
.side{
    position: fixed;
    margin-top: auto;
    height: 100%;
    transition: 1s;
    left: -110px;
    z-index: 1;
}
.side ul{
    list-style: none;
    padding-left: 0;
    margin: 10px;
}
a{
    font-size: 1.1rem;
    color: white;
}
.content{
    /* position: absolute;
    width: 100%; */
    overflow: hidden;
    margin-top: 52px;
}
.img-profile{
    border-radius: 50%;
    border: 2px solid #1118;
    margin-left: 30px;
}
.desc{
    padding: 10px 20px 10px 20px;
    background-color: #fff4;
}
.p{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.img{
    padding: 15px 15px 15px 15px;
}
.eve{
    /* border: 0.5px solid #000; */
    border-radius: 5px;
    background-color: #fff5;
    /* box-shadow: 10px 5px 20px 5px #000; */
    /* margin-bottom: 30px; */
    /* display: flex;
    align-items: center; */
}
.eve:hover{
    background-color: #fff9;
    padding: 2%;
}
a:hover,a:active{
    color: orange;
}
